<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/acceuil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css" integrity="sha512-XcIsjKMcuVe0Ucj/xgIXQnytNwBttJbNjltBV18IOnru2lDPe9KRRyvCXw6Y5H415vbBLRm8+q6fmLUU7DfO6Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <title>Acceuil</title>
</head>
<body>
    <!--===== En-tête de l'interface du site Web =====-->
    <header class="header">
        <div class="nav__info">
            <div class="info__container">
                <p class="info__contact">
                    <i class="ri-whatsapp-line"></i> 0662-067057 | <i class="ri-mail-line"></i> contact@progress-events.com
                </p>
                <a href="https://web.facebook.com/progresseventsmaroc/?locale=fr_FR&_rdc=1&_rdr#" target="_blank"><i class="ri-facebook-box-fill"></i></a>
            </div>
        </div>
        <div class="nav">
            
        </div>
    </header>
</body>
</html>