<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/acceuil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css" integrity="sha512-XcIsjKMcuVe0Ucj/xgIXQnytNwBttJbNjltBV18IOnru2lDPe9KRRyvCXw6Y5H415vbBLRm8+q6fmLUU7DfO6Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <title>Acceuil</title>
</head>
<body>
    <!--===== En-tête de l'interface du site Web =====-->
    <header class="header">
        <div class="nav__info">
            <div class="info__container">
                <p class="info__contact">
                    <i class="ri-whatsapp-line"></i> 0662-067057 | <i class="ri-mail-line"></i> contact@progress-events.com
                </p>
                <a href="https://web.facebook.com/progresseventsmaroc/?locale=fr_FR&_rdc=1&_rdr#" target="_blank"><i class="ri-facebook-box-fill"></i></a>
            </div>
        </div>
        <div class="nav">
            <nav class="nav__container">
                <img src="../static/img/LOGO SIGNATURE.png" alt="logo">
                <ul class="nav__menu" id="nav-menu">
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <i class="ri-arrow-right-up-line"></i>
                            <span>Acceuil</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <i class="ri-arrow-right-up-line"></i>
                            <span>Agence</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <i class="ri-arrow-right-up-line"></i>
                            <span>Communication</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <i class="ri-arrow-right-up-line"></i>
                            <span>Nos métiers</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <i class="ri-arrow-right-up-line"></i>
                            <span>Evènementiel</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <i class="ri-arrow-right-up-line"></i>
                            <span>Portfolio</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <i class="ri-arrow-right-up-line"></i>
                            <span>Contact</span>
                        </a>
                    </li>
                </ul>
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-fill"></i>
                </div>
            </nav>
        </div>

        <div class="nav__main">
            <h1>Agence Progress Events</h1>
            <a href="#" class="">Contactez-Nous</a>
        </div>
    </header>

    <section class="description">
        <h1>Qui sommes-nous ?</h1>
        <p>Progress Events est une agence marocaine spécialisée dans la communication et l'organisation d'événements. Services proposés : Organisation de mariages dans les meilleurs hôtels et riads du Maroc. Planification et gestion d'événements professionnels et privés. L'objectif de Progress Events est d'offrir des services de qualité en organisation d'événements, en répondant aux besoins des clients avec un haut niveau de professionnalisme.</p>
    </section>

    <section class="expertise">
        <h1>Notre Expertise</h1>
        <div class="container-expertise">
            <div class="box">
                <i class="ri-calendar-check-line icone"></i>
                <h3>Agence Événementiel</h3>
                <p>Que ce soit pour un congrès, une conférence de presse, un lancement, un team building notre Agence événementiel a Casablanca Maroc met tout en oeuvre pour satisfaire vos besoins.</p>
                <i class="ri-arrow-right-line icone-2"></i>
            </div>

            <div class="box">
                <i class="ri-building-line icone"></i>
                <h3>Team Building</h3>
                <p>Le terme Team Building peut se traduire par « renforcement d’équipe » ou « construction d’équipe ». Il s’agit d’une méthode utilisée en entreprise pour resserrer les liens entre les différents employés.</p>
                <i class="ri-arrow-right-line icone-2"></i>
            </div>

            <div class="box">
                <i class="ri-gift-line icone"></i>
                <h3>Agence Événement Privé</h3>
                <p>Nous avons tout ce qu’il vous faut pour un événement réussi. Pour un anniversaire, un mariage en simplement une fête thématique</p>
                <i class="ri-arrow-right-line icone-2"></i>
            </div>

            <div class="box">
                <i class="ri-customer-service-2-line icone"></i>
                <h3>Services Conseils</h3>
                <p>Nous sommes en mesure de déterminer la combinaison harmonieuse de services qui vous apportera les meilleurs résultats.</p>
                <i class="ri-arrow-right-line icone-2"></i>
            </div>

            <div class="box">
                <i class="ri-align-item-bottom-fill icone"></i>
                <h3>Agence Communication</h3>
                <p>Palette vous propose de vous accompagner dans tous vos projets de print, motion design et impression.</p>
                <i class="ri-arrow-right-line icone-2"></i>
            </div>

            <div class="box">
                <i class="ri-stack-line icone"></i>
                <h3>Agencement & Aménagement</h3>
                <p>Palette est une agence de décoration d'intérieur et aménagement d'espace basée à Casablanca. Notre agence propose des prestations aux particuliers comme aux professionnels.</p>
                <i class="ri-arrow-right-line icone-2"></i>
            </div>
        </div>
    </section>



    <script src="../static/js/scripts.js"></script>
</body>
</html>